.header {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: #1abc9c; /* green background */
  color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 40px;
}

#background {
  background-color: #324659;
}

#MainPage {
  background-color: #4e8ac9;
  padding: 1cm;
}

.navbar {
  background-color: rgb(231, 52, 52);
}

li.nav-item{
  border-right: 1px solid rgb(165, 37, 37);
}

p{
  font-size: 20px;
}