{% extends 'layout.html' %}

{% block body %}

<div class="card">
    <div class="card-body">
        <h1 class="card-title" style="text-align: center"> <b>AEROSPACE</b></h1>
        <p class="card-text">The GPISD Aerospace Academy (9-12) is a first of its kind, comprehensive and ambitious
            program to prepare students for a career in the aerospace industry. This unique high school program of
            choice involves a Career Technical Education (CTE) component as well as a rigorous college preparatory side
            with dual credit and advance placement courses. Partnerships with aerospace companies provide internships,
            program support and hands-on learning opportunities.</p>
        <hr>
        <p class="card-text">
            While in the program, students may receive CTE program
            certifications - which lead to FAA industry certifications in:
        </p>
            <ul>
                <li>Air Traffic Controller</li>
                <li>Aviation Mechanic</li>
                <li>Pilot</li>
                <li> Unmanned Aircraft Systems (UAS) drones.</li>
            </ul>
        <hr>
        <h3> Instructors</h3>

        <p> Bill Ervin <br>
            Aerospace and Aviation Technology Teacher<br>
            972.343.7949</p>
        <hr>
        <b> Documents</b>
        <ul>
            <li>
                <a
                    href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11808/4%20Year%20Plans%20Final%20%20Editable%20Individual%20Aerospace%20Dubiski%202018-2019.pdf">
                    Aerospace Year Plan
                </a>
        </ul>
    </div>
</div>


{% endblock %}