{extends 'layout.html' %}

{block body %}

<div class="card" style="width: 110rem;">
    <div class="card-body">
      <h1 class="card-title" style="text-align: center"> <b> ARCHITECTURE</b></h1>
      <p class="card-text">The Department of Architecture at Dubiski Career High School is one of many career pathways available. The architecture program is dedicated to developing the creative, technical, and construction side of design through varies projects both analogue and digital. In conjunction with the career pathway, each Career Technology Elective course integrates the core basics of math, reading, writing, history, and science into its discipline. While students attend their course, they apply what they know into the career development profession of either architecture or interior design. </p>
      <hr> <br>
      <p class="card-text"> <b>Instructors</b> <br>
        Jacob Haynes <br>
        Architecture Teacher <br>
        972-343-7800 <br>
        
        Jason Oliver<br>
        Architecture Teacher<br>
        972-343-7800 <hr> <br> </p>
        <p class="card-text">
            <b> Documents</b>
      <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11808/4%20Year%20Plans%20Final%20%20Editable%20Individual%20Architecture%20Dubiski%202018-2019.pdf
 ">Architecture 4 Year Plan</a>
 <br>  <br>
          <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11808/4%20Year%20Plans%20Final%20%20Editable%20Individual%20Architecture%20Dubiski%202018-2019.pdf">Business & Industry Endorsement </p> </a> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>
    </div>
    </div>
      

{% endblock %}