{% extends 'layout.html' %}

{% block body %}

<div class="card">
  <div class="card-body">
    <h1 class="card-title" style="text-align: center"> ARCHITECTURE </h1>
    <p class="card-text">The Department of Architecture at Dubiski Career High School is one of many career pathways
      available. The architecture program is dedicated to developing the creative, technical, and construction side of
      design through varies projects both analogue and digital. In conjunction with the career pathway, each Career
      Technology Elective course integrates the core basics of math, reading, writing, history, and science into its
      discipline. While students attend their course, they apply what they know into the career development profession
      of either architecture or interior design. </p>
    <hr><br>
    <h3 class="card-text"> Instructors </h3>
    <p>
      Jacob Haynes <br>
      Architecture Teacher <br>
      972-343-7800 <br>
      <br>
    </p>
    <hr>
    <p>
      Jason Oliver<br>
      Architecture Teacher<br>
      972-343-7800
      <hr> <br> 
    </p>

    <b>Documents</b>
    <ul>
      <li>
        <a
          href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11808/4%20Year%20Plans%20Final%20%20Editable%20Individual%20Architecture%20Dubiski%202018-2019.pdf">Architecture
          4 Year Plan</a>
      </li>
      <li>
        <a
          href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11808/4%20Year%20Plans%20Final%20%20Editable%20Individual%20Architecture%20Dubiski%202018-2019.pdf">Business
          & Industry Endorsement </a>
      </li>
    </ul>
  </div>
</div>


{% endblock %}