{extends 'layout.html' %}

{block body %}

<div class="card" style="width: 110rem;">
    <div class="card-body">
      <h1 class="card-title" style="text-align: center"> <b> AUTOMOTIVE/AUTOCOLLISION</b></h1>
      <p class="card-text">
         <b> The Automotive Technology </b> 4 Year Plan consists of a combination of core and program courses. There are several directions this 4 Year Plan can take depending on student interests, program design, credit considerations, and degree plan.
        <br> <br>
        <b> The Auto Collision </b> 4 Year Plan consists of a combination of core and program courses. There are several directions this 4 Year Plan can take depending on student interests, program design, credit considerations, degree plan and so on. </p>
        <hr> <br> 
        <p class="card-text">  <b>Instructors </b> <br>
Curtis Christensen<br>
Auto Collision Teacher <br>
972.343.7800 <hr> <br> </p>
<p class="card-text">
    <b> Documents</b> 
    <br> <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/12860/2016%202017%20BUSINESS%20AND%20INDUSTRY%20ENDORSEMENT%20%20%20Auto%20Technology.pdf">Automotive 4 Year Plan</a>
         <br> <br> <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/12860/auto%20tech.pdf">Business & Industry Endorsement</a>
        <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/12860/2016%202017%20BUSINESS%20AND%20INDUSTRY%20ENDORSEMENT%20%20%20Auto%20Technology.pdf">Autocollision 4 Year Plan</a>
        <br> <br> <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/12860/auto%20col.pdf">Business & Industry Endorsement</a> </p>
 <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>
    </div>
    </div>


{% endblock %}