{% extends 'layout.html' %}

{% block body %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .img {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <div class="img" src="burk.JGP"></div>
      <p> Email: burk.david@gpisd.org
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>David Burk</h2>
      <h5>Academy of Business and Communications</h5>
      <p> <b> Classes: </b> Art I, Graphic Design & Illustration II </p>
      <p> <b>Conference: </b>2nd Period: 10:20-11:45 </p>
	  <p> Artist • Illustrator • Educator • Jedi "The greatest teacher, failure is."</p>
	  <p>I coach girls fast-pitch softball, am an avid Steelers fan. This is my 10th year teaching and 5th year at Dubiski. </p>
<p> <b> Degrees and Certifications:</b> <br> Bachelor of Fine Arts in Communication Design - University of North Texas,
        <br> <b>Certifications: </b>
        <br> All-Level Art (PK-12),
        <br> Technology Applications (EC-12) </p>     
    </div>
  </div>
</div>
</body>
{% endblock %}