{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
  <h1>2018-2019 TSA Competitons</h1>
  <p>Imagine an activity so captivating that your students spend hours working on it for weeks at a time. That is what
    can happen when TSA members engage in TSA competitions. Only TSA members have the opportunity to compete at
    exciting state conferences and then at the annual National TSA Conference. Expert judging by technology and
    engineering educators and industry representatives inspires the best from participants. Members are rewarded not
    only with medals or trophies, but also with memories of the camaraderie and the challenge of participating in a
    National TSA Conference. TSA competitions include categories such as Biotechnology Design, Career Prep, Coding,
    Digital Photography, Dragster Design, Flight, Leadership Strategies, Medical Technology, Prepared Presentation,
    Software Development, Technology Problem Solving, Video Game Design, Webmaster, and much more.</p>
</div>
<div class="card">
  <div class="jumbotron">
    <p class="card-text"> <b> 3D Animation: </b>Participants (two [2] teams of two [2] to six [6] members per state)
      demonstrate their
      knowledge of 3D animation technology and design skills to creatively solve the challenge posted on Themes and
      Problems. </p>
    <p class="card-text"> <b> Animatronics: </b> Participants (one [1] team per chapter) demonstrate knowledge of
      mechanical and control
      systems by designing, fabricating, and controlling an animatronics device that will communicate, entertain,
      inform, demonstrate and/or illustrate a topic, idea, subject, or concept. Sound, lights, and a surrounding
      environment must accompany the device. </p>
    <p class="card-text"> <b> Architectural Design: </b>Participant (one [1] team, or one [1] individual, per chapter)
      develop a set of
      architectural plans and related materials for an annual architectural design challenge and construct a physical,
      as well as a computer-generated model, to accurately depict their design.</p>
    <p class="card-text"> <b>Biotechnology Design: </b>Participants (three [3] teams per state, two to six [2-6]
      members per team) select
      a contemporary biotechnology problem (that relates to the current year’s published topic) and demonstrate
      understanding of it through documented research, the development of a solution, a display (including an optional
      model or prototype), and an effective multimedia presentation. </p>
    <p class="card-text"> <b> Board Game Design:</b> Participants (one [1] team per chapter) develop, build, and
      package a board game
      that focuses on the subject of their choice. The game should be interesting, exciting, visually appealing, and
      intellectually challenging. Each team will have to design the packaging, instructions, pieces, and cards
      associated with creating and piloting a new board game. Semifinalists for the event will set up the game,
      demonstrate how the game is played, and explain the game’s features. </p>
    <p class="card-text"> <b>Chapter Team: </b>Participants (one [1] team of six [6] members per chapter) take a
      written parliamentary
      procedures test in order to qualify for the semifinals, in which they complete an opening ceremony, items of
      business, parliamentary actions, and a closing ceremony within a specified time period. </p>

    <p class="card-text"> <b> Children’s Stories: </b>Participants (three [3] teams or three [3] individuals per state
      – or a combination
      of teams and individuals that equals three [3] entries per state) create an illustrated children's story of high
      artistic, instructional, and social value. The narrative may be written in prose or poetry and take the form of a
      fable, adventure story, or other structure. The physical story book should be of high quality and designed to
      meet the year’s given theme. The story must have a science, technology, engineering, and mathematics (STEM)
      focus. </p>

    <p class="card-text"> <b>Coding: </b> Participants (one [1] individual, or one [1] team of two [2] members, per
      chapter) respond to
      an annual coding-related design challenge by developing a software program that will accurately address an
      on-site problem in a specified, limited amount of time. </p>

    <p class="card-text"> <b> Computer-Aided Design (CAD), Architecture:</b> Participants (two [2] individuals per
      state) use complex
      computer graphic skills, tools, and processes to develop representations of architectural subjects, such as
      foundation and/or floor plans, and/or elevation drawings, and/or details of architectural ornamentation or
      cabinetry. </p>

    <p class="card-text"> <b>Computer-Aided Design (CAD), Engineering: </b> Participants (two [2] individuals per
      state) use complex
      computer graphic skills, tools, and processes to develop three-dimensional representations of engineering
      subjects such as a machine part, tool, device, or manufactured product. </p>

    <p class="card-text"> <b> Computer Integrated Manufacturing (CIM): </b>Participants (one [1] team of two to six
      [2–6] members per
      chapter) design, fabricate, and use Computer Integrated Manufacturing (CIM) to create a promotional product that
      will showcase the current conference city and/or state. </p>

    <p class="card-text"> <b> Debating Technological Issues: </b> Participants (three [3] teams of two [2] members per
      state) work
      together to prepare for a debate against a team from another chapter. The teams will be instructed to take either
      the Pro or Con side of a selected subtopic.</p>

    <p class="card-text"> <b> Digital Video Production:</b> Participants (three [3] teams per state; an individual may
      participate solo
      in this team event) develop a public service announcement and a digital video (with sound) that focuses on the
      given year’s theme. </p>

    <p class="card-text"> <b> Dragster Design:</b> Participants (two [2] individuals per chapter; one [1] entry per
      individual) design,
      produce a working drawing for, and build a CO2-powered dragster. </p>

    <p class="card-text"> <b> Engineering Design: </b>Participants (three [3] teams of three to six [3 - 6] members per
      state) develop a
      solution to a National Academy of Engineering grand challenge that is posted on the national TSA website. The
      solution offered will be informed and designed by precise problem definition, thorough research, creativity,
      experimentation (when possible), and the development of documents and appropriate models (mathematical,
      graphical, and/or physical prototype/model). Semifinalist teams present and defend their proposed solution to a
      panel of judges. </p>

    <p class="card-text"> <b>Essays on Technology: </b> Participants (three [3] individuals per state) write a
      research-based essay
      (using two or more sources provided on-site) that makes insightful connections about a current technological
      topic. </p>

    <p class="card-text"> <b> Extemporaneous Speech:</b> Participants (three [3] individuals per state) verbally
      communicate their
      knowledge of technology or TSA subjects by giving a speech after having drawn a card on which a technology or TSA
      topic is written.</p>

    <p class="card-text"> <b> Fashion Design and Technology:</b> Participants (three [3] teams of two to four [2-4]
      members per state)
      research, design, and create a portfolio and wearable prototype that reflect the current year’s theme.
      Semifinalist teams participate in a presentation/interview in which they present their garment designs to judges.
    </p>

    <p class="card-text"> <b> Flight Endurance Participants:</b> (two [2] individuals per chapter; one [1] entry per
      individual) analyze
      flight principles with a rubber band-powered model aircraft. </p>

    <p class="card-text"> <b> Forensic Science Participants: </b>(one [1] team of two [2] members per chapter) take a
      written test of
      basic forensic science theory to qualify as semifinalists. Semifinalist teams will examine a mock crime scene and
      demonstrate their knowledge of forensic science and crime scene analysis. Students will be expected to survey the
      scene and use proper techniques to collect evidence from the mock crime scene. Students will then collect their
      data and perform a detailed written analysis of the crime scene. </p>

    <p class="card-text"> <b> Future Technology Teacher:</b> Participants (two [2] individuals per chapter) investigate
      technology
      education preparation programs in higher education and test their potential as a future technology educator. </p>

    <p class="card-text"> <b> Music Production: </b> Participants (three [3] teams per state; an individual may
      participate solo in this
      team event) produce an original musical piece that is designed to be played during the National TSA Conference
      opening or closing general sessions. </p>

    <p class="card-text"> <b> On Demand Video:</b> Participants (one [1] team of two to six [2-6] members per chapter)
      write, shoot, and
      edit a 60–second video onsite during the conference. </p>

    <p class="card-text"> <b> Photographic Technology:</b> Participants (one [1] individual per chapter) demonstrate
      understanding of and
      expertise in using photographic and imaging technology processes to convey a message based on a theme.
      Semifinalists record images and then utilize graphic editing software to prepare a single final image as a
      solution to an onsite prompt. </p>

    <p class="card-text"> <b> Prepared Presentation:</b> Participants (three [3] individuals per state) deliver an oral
      presentation,
      using a digital slide deck, on a topic provided onsite. </p>

    <p class="card-text"> <b> Promotional Design:</b> Participants (three [3] individuals per state) use computerized
      graphic
      communications layout and design skills in the production of a promotional resource for TSA.</p>

    <p class="card-text"> <b> Scientific Visualization (SciVis):</b> Participants (three [3] teams per state; an
      individual may
      participate solo in this team event) use either 2D or 3D computer graphics tools and design processes to
      communicate, inform, analyze, and/or illustrate a STEM topic, idea, subject, or concept. </p>

    <p class="card-text"> <b> Software Development:</b> Participants (one [1] team per chapter) use knowledge of
      cutting-edge
      technologies, algorithm design, problem-solving principles, effective communication, and collaborative teamwork
      to design, implement, test, and document a software development project of educational or social value.</p>

    <p class="card-text"> <b> Structural Design and Engineering:</b> Participants (one [1] team of two [2] members per
      chapter) work as a
      team to build a designated structure that is posted on the TSA website. Teams apply the principles of structural
      design and engineering through research, design, construction, destructive testing, and assessment to determine
      the design efficiency of the structure. </p>

    <p class="card-text"> <b>System Control Technology: </b> Participants (one [1] team of three [3] members per state)
      work on site to
      develop a computer-controlled model-solution to a problem, typically one from an industrial setting. Teams
      analyze the problem, build a computer-controlled mechanical model, program the model, explain the program and
      mechanical features of the model-solution, and write instructions for evaluators to operate the device. </p>

    <p class="card-text"> <b> Technology Bowl:</b> Participants (one [1] team of three [3] members per chapter)
      demonstrate their
      knowledge of TSA and concepts addressed in the technology content standards by completing a written, objective
      test; semifinalist teams participate in question/response, head to head team competition. </p>

    <p class="card-text"> <b> Technology Problem Solving:</b> Participants (one [1] team of two [2] members per
      chapter) use their skills
      in problem solving to develop a finite solution to a problem provided on site. </p>

    <p class="card-text"> <b>Transportation Modeling: </b> Participants (one [1] individual per chapter) research,
      design, and produce a
      scale model of a vehicle that fits the annual design problem. </p>

    <p class="card-text"> <b>Video Game Design: </b> Participants (three [3] teams per state) develop a game that
      focuses on the yearly
      theme. The game must have high artistic, educational, and social value and be interesting, exciting, visually
      appealing, and intellectually challenging. </p>

    <p class="card-text"> <b> Webmaster: </b>Participants (one [1] team of three to five [3-5] members per chapter)
      design, build, and
      launch a website that features the school’s career and technology/engineering program, the TSA chapter, and the
      chapter’s ability to research and present a given topic pertaining to technology. Semifinalists participate in an
      onsite interview to demonstrate the knowledge and expertise gained during the development of the website—with an
      emphasis on web design methods and practices, as well as their research for the annual design topic. </p>
  </div>
</div>
<br><br>
<div class="jumbotron">
  <h1>Unique To Texas Compeitions </h1>
  <p>Unique to Texas competitions are competitions that you don't advance to nationals in instead the furthest they can go is Texas State
    because they are competitions only Texas TSA offers.</p>
    <p class="card-text"> There are over a 100 types of Unique To Texas projects and events. 
      <p class="card-text"> For more information can be found on our chapter <a href="https://www.edmodo.com/?go2url=%2Fhome">Edmodo</a> page.</p>
        <img class="Link-img" src="/static/images/tsa/winner1.png" alt="Edmodo Link">
    </div>
</div>

{% endblock %}