{% extends 'layout.html' %}

{% block header%}
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h3 class="card-title">The Campfire Project</h3>
        <img class="w-100" src="{{url_for('static', filename='images/design/frontPage.png')}}">
        <p class="card-text design-text">
            In our design brief we decided to create a funny spin-off of a famous
            EDM artist Marshemello, we named him Campfire becuase he goes well with marshemellos.
            Campfire is a electro rap artist with quite an intersting story to tell and is still
            very mysterious as he has not had a face reveal yet.
        </p>

        <p class="card-text design-text">
            From our research we concluded that most popular artists have very large and expressive pictures
            to describe the artist as a person and the design encorporates as little text as possible. Due to
            this our goal behind website was to create as much graphics as possible and as few text.
        </p>
        <p class="card-text design-text">
            Another thing we noticed from many artists are links to their social media. This may be in many
            different ways. From linking their media tags on the front page of the website, as a side bar of the
            website. Or even on the navigation bar in the case as marshemello.
        </p>
        <p class="card-text design-text">
            While most sales and buisness websites such as apple have few text and more pictures/graphics.
            The largest distuingishing point between most sales websites and an muscians website is the
            presence of a merch store. The merch store (while may be similar) to a online sales store is
            much different. The reason behind this is because the merchandise is usually hosted on a seprate domain
            such as the case with Ariana Grande and Marshemello.
        </p>
        <p class="card-text design-text">
            Our team included these aspects along with a few others regarding ablum releases to create a website
            for the fictional character of Marshemello. We are still planning on adding more features such as
            a working forum for users to fan and rave about Campfire as well as more items to the merch store.
            And quality of life featurs including but not limited to: sorting features in merch store, full website
            search(supported by google),
            live twitter feed of Campfire as well as makikng the the main menu change dynamically.
        </p>
    </div>
</div>
{% endblock %}