{% extends 'layout.html' %}

{% block body %}

<div class="card" style="width: 110rem;">
  <div class="card-body">
    <h1 class="card-title" style="text-align: center"> ENGINEERING</h1>
    <p class="card-text">The Engineering Program at Dubiski Career High School is designed to provide students with a
      real world approach to learning the basic principles of engineering. Students gain a foundation in engineering
      through projects, job shadowing, field trips, guest speakers, organizations and internships.
      <br>
      <div class="text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zR9H5pVLgwk" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
    </p>
    <hr>
    <h3>Instructors</h3>
    <p class="card-text">
      D'artsgnan Harris<br>
      Engineering Teacher<br>
      972.343.7800<br><br>

      Jonathan Head<br>
      Engineering Teacher<br>
      972.343.7882<br><br>

      Edgar Hernandez<br>
      Engineering Teacher<br>
      972.343.7856<br><br>

      Deandre Ross<br>
      Engineering Teacher<br>
      972.343.7800 </p>
    <hr><br>
    <b>Documents</b>
    <ul>
      <li><a
          href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11808/4%20Year%20Plans%20Final%20%20Editable%20Individual%20Engineering%20Dubiski%202018-2019.pdf">
          Engineering 4 Year Plan
        </a></li>
      <li> <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/12860/engi.pdf">
          STEM Endorsement
        </a></li>
    </ul>
  </div>
</div>


{% endblock %}