{% extends 'layout.html' %}

{% block body %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .img {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <div class="img" src="ervin.JGP"></div>
      <p>Email: ervin.william@gpisd.org
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Willian Ervin</h2>
      <h5>Academy of Health Science and Engineering </h5>
      <p> <b> Classes: </b>Aerospace/Aviation Technology, Electronics, Robotics   </p>
      <p> <b>Conference: </b> 8th Period/2:50 - 4:15 </p>
	  <p>Skills USA Aviation Advisor  </p>
	  <p>Fear has two meanings; Forget Everything And Run or Face Everything And Rise. </p>
<p> <b>Degrees and Certifications: </b>
    <br> Aviator College Of Aeronautical Science & Technology <br> Commercial Pilot Single/Multi Engine Airplane <br> Fight Instructor Single/Multi Engine Airplane Instrument <br> Advanced Ground InstructorD</p>
     
    </div>
  </div>
</div>
</body>
{% endblock %}