{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron" style="text-align: center">
  <h1>Events</h1>
  <p>Stay updated on upcoming and current chapter events or scroll through past events.</p>
</div>

<div class="text-center">
  <iframe
    src="https://calendar.google.com/calendar/embed?title=TSA%20Calendar&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=nde4q0cab04q8upfn9a7ni5kuhhkt4r2%40import.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FChicago"
    style="border:solid 1px #777" width="1000" height="600"> </iframe> </div> <br> <br>


<div class="card">
  <div class="card-body">
    <div id="event-carosel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#event-carosel" data-slide-to="0" class="active"></li>
        {% for i in range(1, 6) %}
        <li data-target="#event-carosel" , data-slide-to="{{i}}"></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid" src="{{url_for('static', filename='images/slide1.jpg')}}" style="width:100%">
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="{{url_for('static', filename='images/slide2.jpg')}}" style="width:100%">
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="{{url_for('static', filename='images/slide3.jpg')}}" style="width:100%">
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="{{url_for('static', filename='images/slide4.jpg')}}" style="width:100%">
        </div>
        <div class="carousel-item">
          <img class="img-fluid" src="{{url_for('static', filename='images/slide7.jpg')}}" style="width:100%">
        </div>
        <div class="carousel-item">
          <img class="img-fluid img-flip" src="{{url_for('static', filename='images/slide8.jpeg')}}" style="width:100%">
        </div>

        <a class="carousel-control-prev" href="#event-carosel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#event-carosel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </div><br>
</div>
{% endblock %}