<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">TSA Support Team</h5>
        <p>If you are experiencing any errors running the site please contact: <a
            href="mailto: TSAwebmasterteam@gmail.com">TSAwebmasterteam@gmail.com</a></p>
    </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-6">
        <!-- Links -->
        <h5 class="text-uppercase">Quick Links</h5>

        <div class="row">
          <div class="col-md-2">
            <ul class="list-unstyled">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/team">Officer Team</a>
              </li>
              <li>
                <a href="/events">Events</a>
              </li>
              <li>
                <a href="/pathways">Career Pathways</a>
              </li>
            </ul>
          </div>

          <div class="col-md-2">
            <ul class="list-unstyled">
              <li>
                <a href="/teachers">Teachers</a>
              </li>
              <li>
                <a href="/staterulebook">Rule Book</a>
              </li>
            </ul>
          </div>

        </div>


      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright</div>
  <!-- Copyright -->
</footer>