{% extends 'layout.html' %}

{% block body %}

<div class="card" style="width: 110rem;">
  <div class="card-body">
    <h1 class="card-title" style="text-align: center"> GRAPHIC COMMUNICATIONS</h1>
    <p class="card-text">Creativity runs high in the graphic art students of Dubiski Career High School. They have truly
      displayed what great potential can do when paired with the right tools and materials. Graphic Arts students have
      the opportunity to participate in competitions on the local, district, state, and national level.
      Competition areas range from Advertising & Design to Professional Development to Printing. Any student can compete
      with the right amount of drive and training.
      The Dubiski Printshop produces a wide range of printed products. We entertain client jobs that can vary from
      t-shirts, to banners, to nametags. With our state of the art equipment, up to date programs, and talented students
      we are able to produce award winning work.
      Our seniors run the school’s printshop by doing jobs for a variety of clients. They are not only able to apply and
      develop the skills they’ve acquired in previous courses, but gain skills in professionalism though real world
      experience.
    </p>
    <hr>
    <h4>Graphic Communications - Customer Service Desk
      972.343.7895 </h4>

    <h3>Instructors</h3>
    <p class="card-text">

      Shane Nowlin <br>
      Graphic Communications Department Head / Teacher<br>
      972.343.7800 (x7819)<br> <br>

      Haley Patton<br>
      Graphic Communications Advisor<br>
      972.343.7800<br> <br>

      David Burke<br>
      Graphic Communications Advisor<br>
      972.343.7800<br><br>

      Larry Stephens <br>
      Print Shop Assistant <br>
      972.343.7848</p>
    <hr>
    <p class="card-text">
      <b>Documents </b>
      <ul>
        <li> <a
        href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11808/4%20Year%20Plans%20Final%20%20Editable%20Individual%20Graphics%20%20Dubiski%202018-2019.pdf">Graphics
        4 Year Plan</a>
      </li>
        <li><a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11810/GPISD%20Endorsement%20Options.pdf">STEM Endorsement</a></li>
      </ul>
  </div>
</div>


{% endblock %}