{extends 'layout.html' %}

{block body %}

<div class="card" style="width: 110rem;">
    <div class="card-body">
      <h1 class="card-title" style="text-align: center"> <b>INFORMATION TECHNOLOGY</b></h1>
      <p class="card-text">The Information Technology 4 Year Plan consists of a combination of core and program courses. There are several directions this 4 Year Plan can take depending on student interests, program design, credit considerations, and degree plan.
        <br> 
      </p>
<hr> 
<p class="card-text"> 
  <b> Instructors</b> <br>
  Scott Womack <br>
  Information Technology Pathway Teacher <br>
  972.343.7800<br><br>
  
  Alicia Flores<br>
  Information Technology Pathway Teacher<br>
  972.343.7800<br><br>
  
    </p><hr><br>
<p class="card-text">
  <b> Documents</b>
      <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11808/4%20Year%20Plans%20Final%20%20Editable%20Individual%20Information%20Tech%20Dubiski%202018-2019.pdf
 ">IT 4 Year Plan</a>
 <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11810/GPISD%20Endorsement%20Options.pdf
 ">STEM Endorsement</a></p>
 <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>
    </div>
    </div>
      

{% endblock %}