{% extends 'layout.html' %}

{% block body %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <div class="fakeimg" src="lonergan.JGP"></div>
      <p> Email: lonergan.robert@gpisd.org
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Robert Lonergan</h2>
      <h5>Academy of Business and Communications</h5>
      <p> <b> Classes: </b>Animation I, Animation II, Video Game Design  </p>
      <p> <b>Conference: </b> 4th Period/2:50 - 4:15 </p>
	  <p>TSA Advisor, SkillsUSA Media Tech Co-advisor, Freshman Class Sponsor   </p>
    <p>"Sprinkles are for winners." </p>
    <p> I obtained my Radio TV Film degree and put it to use working on an independent film, Nightwish, Robocop 2 and Robocop 3 (putting Robocop in the suit!). In between these films I worked at video companies in Houston and afterwards I came to Dallas and worked for Video Litigation Services for 5 years before getting into teaching at South Grand Prairie, where I stayed for 12 years before coming to Dubiski when it opened.    </p>
<p> <b> Degrees and Certifications:  </b>
<br> B.S. in Radio, TV, & Film - The University of Texas at Austin
<br> M.Ed. in Curriculum & Instruction
<br> Texas A&M Commerce
<br> Adobe Certified Associate in Animate </p>
    </div>
  </div>
</div>
</body>
{% endblock %}