{% extends 'layout.html' %}

{% block body %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <div class="fakeimg" src="mccown.JGP"></div>
      <p> Email: mccown.deirdre@gpisd.org
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Deirdre McCown</h2>
      <h5>Academy of Business and Communications</h5>
      <p> <b> Classes: </b> Audio/Video Practicum </p>
      <p> <b> Conference: </b> 1st Period/8:50 - 10:15 </p>
	  <p> SkillsUSA Lead, AV Skills Advisor </p>
	  <p>My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style. **Maya Angelou   </p>
<p> <b> Degrees and Certifications: </b> 
  <br> B.A. in Communications R/TV/F - University of North Texas
  <br> Trade and Industrial Teaching Cert.
  <br> Society of Broadcast Engineers Television Operator
  <br> Adobe Premiere Pro ACA
  <br> Final Cut Pro
  <br> Certified Commercial Drone Pilot Part 107</p> 
    </div>
  </div>
</div>
</body>
{% endblock %}