{extends 'layout.html' %}

{block body %}

<div class="card" style="width: 110rem;">
    <div class="card-body">
      <h1 class="card-title" style="text-align: center"> <b>ENGINEERING</b></h1>
      <p class="card-text">The Media Technology 4 Year Plan consists of a combination of core and program courses. There are several directions this 4 Year Plan can take depending on student interests, program design, credit considerations, and degree plan.  Media students enjoy learning all aspects of Video Production from story-boarding to filming to editing.  Students learn in front of the camera and behind the camera skills in the three studios at Dubiski.  
        <br>
      </p>
<hr> 
<p class="card-text"> 
  <b> Instructors</b> <br>
  Dee McCown<br>
  AV Production Teacher<br>
  972.343.7800<br><br>
  
  Robert Lonergan<br>
  Animation Teacher<br>
  972.343.7800<br><br>
  
  Tyler Case<br>
  AV Production Teacher<br>
  972.343.7800<br><br>
  
  Sheldon Stoker<br>
  Media Technology Teacher<br>
  972.343.7800<br>
  
    </p><hr><br>
<p class="card-text">
  <b> Documents</b>
      <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/12860/2016%202017%20BUSINESS%20AND%20INDUSTRY%20ENDORSEMENT%20Media%20Technology%20.pdf
 ">Media 4 Year Plan</a>
 <a href="https://www.gpisd.org/cms/lib/TX01001872/Centricity/Domain/11810/GPISD%20Endorsement%20Options.pdf
 ">Business & Industry Endorsement</a></p>
 <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>
    </div>
    </div>
      

{% endblock %}