{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
  <h1>2018 - 2019 Dubiski TSA Officers</h1>
</div>


<br>
<div class="card-deck" style="text-align: center">
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="/static/images/tsa/lonergan.PNG" alt="Mr. Lonergan">
      <h2 class="card-title">Robert Lonergan</h2>
      <p class="card-text">Advisor &amp; Founder</p>
      <p class="card-text">As the founder of the Dubiski TSA chapter, I will guide, advise, and help all members of
        TSA.</p>
      <a href="mailto:robert.lonergan@gpisd.com" class="card-text">robert.lonergan@gpisd.com</a><br>
      <button href="mailto:robert.lonergan@gpisd.com" class="btn btn-primary">Contact</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="/static/images/tsa/blosser.PNG" alt="Mr. Blosser">
      <h2 class="card-title">Brian Blosser</h2>
      <p class="card-text">Co-Advisor</p>
      <p class="card-text">As Dubiski TSA Co-advisor, I will guide, advise, and help all members of TSA.</p>
      <a href="mailto:brian.blosser@gpisd.com" class="card-text">brian.blosser@gpisd.com</a><br>
      <button href="mailto:brian.blosser@gpisd.com" class="btn btn-primary">Contact</button>
    </div>
    </div>
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="/static/images/tsa/van.png" alt="Vanessa">
      <h2 class="card-title">Vanessa Mendez</h2>
      <p class="card-text">Co-President</p>
      <p class="card-text">The duties vested in my office are to preside at regular and special meetings of the
        organization and to
        promote cooperation in carrying out the activities and work of our organization.</p>
      <a href="mailto:vanessamendez@gmail.com" class="card-text">vanessamendez@gmail.com</a><br>
      <button href="mailto:vanessamendez@gmail.com" class="btn btn-primary">Contact</button>
    </div>
  </div> 
</div>
  <br> <br>
  <div class="card-deck" style="text-align: center">
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="/static/images/tsa/edith.png" alt="Edith">
      <h2 class="card-title">Edith Oyugi</h2>
      <p class="card-text">Co-President</p>
      <p class="card-text">The duties vested in my office are to preside at regular and special meetings of the
        organization and to
        promote cooperation in carrying out the activities and work of our organization.</p>
      <a href="mailto:edithoyu@gmail.com" class="card-text">edithoyu@gmail.com</a><br>
      <button class="btn btn-primary">Contact</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="/static/images/tsa/xim.png" alt="Ximena">
      <h2 class="card-title">Ximena Canales</h2>
      <p class="card-text">Vice President</p>
      <p class="card-text">It is the duty of my office to see that we always have a strong membership, a good work
        program, and are alert
        to the welfare of our association.</p>
      <a href="mailto:ximenacanales@gmail.com" class="card-text">ximenacanales@gmail.com</a><br>
      <button href="mailto:ximenacanales@gmail.com" class="btn btn-primary">Contact</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="/static/images/tsa/ame.png" alt="America">
      <h2 class="card-title">America Cardenas </h2>
      <p class="card-text">Secretary</p>
      <p class="card-text">It is my responsibility to see that accurate and proper records are kept of all business
        and correspondence of
        this association.</p>
      <a href="mailto:americacardenas@gmail.com" class="card-text">americacardenas@gmail.com</a><br>
      <button href="mailto:americacardenas@gmail.com" class="btn btn-primary">Contact</button>
    </div>
  </div>
  </div>
 <br> <br>
 <div class="card-deck" style="text-align: center">
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="/static/images/tsa/fake1.png" alt="Arelly">
      <h2 class="card-title">Arelly Viveros</h2>
      <p class="card-text">Treasurer</p>
      <p class="card-text">It is the duty of my office to keep accurate records of all funds and see that our
        financial obligations are
        met properly.</p>
      <a href="mailto:arellyviveros@gmail.com" class="card-text">arellyviveros@gmail.com</a><br>
      <button href="mailto:arellyviveros@gmail.com" class="btn btn-primary">Contact</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="/static/images/tsa/me.png" alt="Faith">
      <h2 class="card-title">Faith Ajanaku</h2>
      <p class="card-text">Reporter</p>
      <p class="card-text">It is my duty to see that our school, community, and state have a complete record of our
        organization's
        activities.</p>
      <a href="mailto:ajanakufaith0@gmail.com" class="card-text">ajanakufaith0@gmail.com</a><br>
      <button href="mailto:ajanakufaith0@gmail.com" class="btn btn-primary">Contact</button>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <img class="card-img-top" src="/static/images/tsa/sonya.png" alt="Sonya">
      <h2 class="card-title">Sonya Reeb</h2>
      <p class="card-text">Sergeant-at-Arms</p>
      <p class="card-text">It is my responsibility to see that the assembly is comfortable and properly welcomed.</p>
      <a href="mailto:sonyareeb@gmail.com" class="card-text">sonyareeb@gmail.com</a><br>
      <button href="mailto:sonyareeb@gmail.com" class="btn btn-primary">Contact</button>
    </div>
  </div>
</div>

{% endblock body %}