{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>2018 - 2019 Dubiski TSA Officers</h1> 
  </div>
  
<div class="card">
  <div class="card-body">
      <img class="officer-img" src="/static/images/tsa/lonergan.PNG" alt="Mr. Lonergan">
    <h2 class="card-title">Robert Lonergan</h2>
    <p class="card-text">Advisor &amp; Founder</p>
    <p>As the founder of the Dubiski TSA chapter, I will guide, advise, and help all members of TSA.</p>
    <p>robert.lonergan@gpisd.com</p>
    <button class="btn btn-primary">Contact</button>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
      <img class="officer-img" src="/static/images/tsa/blosser.PNG" alt="Mr. Blosser">
    <h2 class="card-title">Brian Blosser</h2>
    <p class="card-text">Co-Advisor</p>
    <p>As Dubiski TSA Co-advisor, I will guide, advise, and help all members of TSA.</p>
    <p>brian.blosser@gpisd.com</p>
    <button class="btn btn-primary">Contact</button>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
      <img class="officer-img" src="/static/images/tsa/gavel.jpg" alt="Vanessa">
    <h2 class="card-title">Vanessa Mendez</h2>
    <p class="card-text">Co-President</p>
    <p>The duties vested in my office are to preside at regular and special meetings of the organization and to
      promote cooperation in carrying out the activities and work of our organization.</p>
    <p>vanessamendez@gmail.com</p>
    <button class="btn btn-primary">Contact</button>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
      <img class="officer-img" src="/static/images/tsa/gavel.jpg" alt="Edith">
    <h2 class="card-title">Edith Oyugi</h2>
    <p class="card-text">Co-President</p>
    <p>The duties vested in my office are to preside at regular and special meetings of the organization and to
      promote cooperation in carrying out the activities and work of our organization.</p>
    <p>edithoyu@gmail.com</p>
    <button class="btn btn-primary">Contact</button>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
      <img class="officer-img" src="/static/images/tsa/star.jpg" alt="Ximena">
    <h2 class="card-title">Ximena Canales</h2>
    <p class="card-text">Vice President</p>
    <p>It is the duty of my office to see that we always have a strong membership, a good work program, and are alert
      to the welfare of our association.</p>
    <p>ximenacanales@gmail.com</p>
    <button class="btn btn-primary">Contact</button>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
      <img class="officer-img" src="/static/images/tsa/pen.jpg" alt="America">
    <h2 class="card-title">America Cardenas </h2>
    <p class="card-text">Secretary</p>
    <p>It is my responsibility to see that accurate and proper records are kept of all business and correspondence of
      this association.</p>
    <p>americacardenas@gmail.com</p>
    <button class="btn btn-primary">Contact</button>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
      <img class="officer-img" src="/static/images/tsa/balanced.gifg" alt="Arelly">
    <h2 class="card-title">Arelly Viveros</h2>
    <p class="card-text">Treasurer</p>
    <p>It is the duty of my office to keep accurate records of all funds and see that our financial obligations are
      met properly.</p>
    <p>arellyviveros@gmail.com</p>
    <button class="btn btn-primary">Contact</button>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
      <img class="officer-img" src="/static/images/tsa/beacpn.jpg" alt="Faith">
    <h2 class="card-title">Faith Ajanaku</h2>
    <p class="card-text">Reporter</p>
    <p>It is my duty to see that our school, community, and state have a complete record of our organization's
      activities.</p>
    <p>ajanakufaith0@gmail.com</p>
    <button class="btn btn-primary">Contact</button>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
      <img class="officer-img" src="/static/images/tsa/hearty.png" alt="Sonya">
    <h2 class="card-title">Sonya Reeb</h2>
    <p class="card-text">Sergeant-at-Arms</p>
    <p>It is my responsibility to see that the assembly is comfortable and properly welcomed.</p>
    <p>sonyareeb@gmail.com</p>
    <button class="btn btn-primary">Contact</button>
  </div>
</div>
{% endblock body %}