<nav class="navbar navbar-expand-lg sticky-top navbar-light" id="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="" src="{{ url_for('static', filename='img/bpa-logo.gif') }}" alt="TSA" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-bar" aria-controls="navigation-bar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation-bar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/team">The Team</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/pathways">Pathways</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/design-brief">Design Brief</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/competition"> Competition</a>
        </li>
      </ul>
    </div>
  </div>
</nav>