{% extends 'layout.html' %}

{% block body %}
<div class="text-center">
  <div class="card-deck text-center">
    <!-- The sidebar -->
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Pathways</h1>
        <p>John A Dubiski Career High School is a GPISD public high school of choice with focuses on equipping
          students
          with the skills they need for professions in the 21st century. Students choose a sequential course of study
          designed
          to
          prepare them for a 2-year, 4-year, or technical college. In addition to their high school diploma, students
          are
          also eligible to complete programs that award them with advanced certifications, industry training,
          internship, and career-field experiences. Dubiski offers HB5 endorsements including STEM, Business & Industry,
          and Public Service. However, we are focusing on the pathways related to TSA and technology. </p>

        <p> The programs we offer are:</p>
        <ul style="list-style-type: none; padding: 0;">
          <li>Engineering</li>
          <li>Aerospace Academy</li>
          <li>Graphic Communication</li>
          <li>Architecture</li>
          <li>Automotive Technology</li>
          <li>Information Technology</li>
          <li>Media Technology</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><b> Automotive Technology</b></h4>
        <div id="auto-carosel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#auto-carosel" data-slide-to="0" class="active"></li>
            {% for i in range(1, 11) %}
            <li data-target="#auto-carosel" , data-slide-to="{{i}}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="img-fluid pathway-slide" src="{{url_for('static', filename='images/auto/auto1.JPG')}}"
                alt="First slide">
            </div>
            {%for i in range(2, 11) %}
            <div class="carousel-item">
              <img class="img-fluid pathway-slide"
                src="{{url_for('static', filename='images/auto/auto{}.JPG'.format(i))}}" alt="First slide">
            </div>
            {% endfor %}
            <a class="carousel-control-prev" href="#auto-carosel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#auto-carosel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div><br>
        <p class="card-text">Automotive technology students are able to compete in many competitions such as
          TSA, FFA, and SkillsUSA. As well as the ability to earn internships at an auto repair shop and get paid in
          cash
          for their learning.
        </p>
        <a href="/classes/auto" class="btn btn-primary">View Classes</a>
      </div>
    </div>
  </div>
</div>
<br> <br>

<div class="card-deck text-center">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"> <b> Media Technology</b></h4>
      <div id="media-carosel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#media-carosel" data-slide-to="0" class="active"></li>
          {% for i in range(1, 10) %}
          <li data-target="#media-carosel" , data-slide-to="{{i}}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid pathway-slide-img" src="{{url_for('static', filename='images/media/media1.JPG')}}"
              alt="First slide">
          </div>
          {%for i in range(2, 11) %}
          <div class="carousel-item">
            <img class="img-fluid pathway-slide"
              src="{{url_for('static', filename='images/media/media{}.JPG'.format(i))}}" alt="First slide">
          </div>
          {% endfor %}
          <a class="carousel-control-prev" href="#media-carosel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#media-carosel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
              <p class="card-text">
                In Media technology, students are given the ability to have hands-on experience with creating
                and editing viedeos as well as work on more complicated tasks such as how to create movie trailers and
                how to set up lights for a professional studio through the use of professional video production tools.
                They can
                compete in TSA, SkillsUSA, and BPA.
              </p>
              <a href="/classes/media" class="btn btn-primary">View Classes</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><b> Engineering</b></h4>
      <div id="engine-carosel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#engine-carosel" data-slide-to="0" class="active"></li>
          {% for i in range(1, 3) %}
          <li data-target="#engine-carosel" , data-slide-to="{{i}}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid pathway-slide" src="{{url_for('static', filename='images/engine/engine1.PNG')}}"
              alt="First slide">
          </div>
          {%for i in range(2, 4) %}
          <div class="carousel-item">
            <img class="img-fluid pathway-slide"
              src="{{url_for('static', filename='images/engine/engine{}.png'.format(i))}}" alt="First slide">
          </div>
          {% endfor %}
          <a class="carousel-control-prev" href="#engine-carosel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#engine-carosel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <p class="card-text">
        The Engineering program provides students with a real-world approach to learning the basic principles of
        engineering. Students gain a foundation in engineering through projects, job shadowing, field trips,
        guest
        speakers, organizations and internships.
      </p>
      <a href="/classes/engine" class="btn btn-primary">View Classes</a>
    </div>
  </div>
</div>

<br> <br>
<div class="card-deck text-center">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><b> Information Technology</b></h4>
      <div id="info-carosel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#info-carosel" data-slide-to="0" class="active"></li>
          {% for i in range(1, 3) %}
          <li data-target="#info-carosel" , data-slide-to="{{i}}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid pathway-slide" src="{{url_for('static', filename='images/info/info1.jpg')}}"
              alt="First slide">
          </div>
          {%for i in range(2, 4) %}
          <div class="carousel-item">
            <img class="img-fluid pathway-slide"
              src="{{url_for('static', filename='images/info/info{}.jpg'.format(i))}}" alt="First slide">
          </div>
          {% endfor %}
          <a class="carousel-control-prev" href="#info-carosel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#info-carosel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <p class="card-text">
        In Information technology, students are given the ability to have hands-on experience with creating
        computer software as well as work on more complicated tasks such as how to deal with computer problems and
        etc.
      </p>
      <a href="/classes/info" class="btn btn-primary">View Classes</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><b> Graphics</b></h4>
      <div id="graphics-carosel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#graphics-carosel" data-slide-to="0" class="active"></li>
          {% for i in range(1, 3) %}
          <li data-target="#graphics-carosel" data-slide-to="{{i}}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid pathway-slide" src="{{url_for('static', filename='images/graphics/graphic1.jpg')}}"
              alt="First slide">
          </div>
          {%for i in range(2, 3) %}
          <div class="carousel-item">
            <img class="img-fluid pathway-slide"
              src="{{url_for('static', filename='images/graphics/graphic{}.jpg'.format(i))}}" alt="First slide">
          </div>
          {% endfor %}
          <a class="carousel-control-prev" href="#graphics-carosel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#graphics-carosel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <p class="card-text">
        Graphic Arts students have the opportunity to participate in competitions on the local, district, state, and
        national level. Competition areas range from Advertising & Design to Professional Development to Printing. Any
        student can compete with the right amount of drive and training. The Dubiski Printshop produces a wide range
        of
        printed products. We entertain client jobs that can vary from t-shirts, to banners, to nametags. With our
        state
        of the art equipment, up to date programs, and talented students we are able to produce award-winning work.
        Our
        seniors run the school’s printshop by doing jobs for a variety of clients. They are not only able to apply and
        develop the skills they’ve acquired in previous courses, but gain skills in professionalism through real-world
        experience.
      </p>
      <a href="/classes/graphics" class="btn btn-primary">View Classes</a>
    </div>
  </div>
</div>
<br> <br>
<div class="card-deck text-center">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><b> Aerospace</b></h4>
      <div id="aero-carosel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#aero-carosel" data-slide-to="0" class="active"></li>
          {% for i in range(1, 2) %}
          <li data-target="#aero-carosel" , data-slide-to="{{i}}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid pathway-slide" src="{{url_for('static', filename='images/aero/aero1.jpg')}}"
              alt="First slide">
          </div>
          {%for i in range(2, 3) %}
          <div class="carousel-item">
            <img class="img-fluid pathway-slide"
              src="{{url_for('static', filename='images/aero/aero{}.jpg'.format(i))}}" alt="First slide">
          </div>
          {% endfor %}
          <a class="carousel-control-prev" href="#aero-carosel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#aero-carosel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div><br>
      <p class="card-text">
        The GPISD Aerospace Academy is a first of its kind, comprehensive and ambitious program to prepare students
        for a career in the aerospace industry. This unique high school program of choice involves a Career Technical
        Education component as well as a rigorous college preparatory side with dual credit and advanced placement
        courses. Partnerships with aerospace companies provide internships, program support, and hands-on learning
        opportunities.
      </p>
      <a href="/classes/aero" class="btn btn-primary">View Classes</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><b> Architecture</b></h4>
      <div id="arch-carosel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#arch-carosel" data-slide-to="0" class="active"></li>
          {% for i in range(1, 1 ) %}
          <li data-target="#arch-carosel" , data-slide-to="{{i}}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="img-fluid pathway-slide" src="{{url_for('static', filename='images/arch/arch1.jpg')}}"
              alt="First slide">
          </div>
          {%for i in range(0) %}
          <div class="carousel-item">
            <img class="img-fluid pathway-slide"
              src="{{url_for('static', filename='images/arch/arch{}.jpg'.format(i))}}" alt="First slide">
          </div>
          {% endfor %}
          <a class="carousel-control-prev" href="#arch-carosel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#arch-carosel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div><br>
      <p class="card-text">
        The Department of Architecture at Dubiski Career High School is one of many career pathways available. The
        architecture program is dedicated to developing the creative, technical, and construction side of design
        through varies projects both analog and digital. In conjunction with the career pathway, each Career
        Technology Elective course integrates the core basics of math, reading, writing, history, and science into
        its discipline. While students attend their course, they apply what they know into the career development
        profession of either architecture or interior design.
      </p>
      <a href="/classes/arch" class="btn btn-primary">View Classes</a>
    </div>
  </div>
</div>
</div>
{% endblock %}