{% extends 'layout.html' %}

{% block body %}
<!-- Make loo better, remove center alignment, possibly rmeove listing-->
<div class="card" style="width: 110rem;">
  <div class="card-body">
    <h1 class="card-title text-center">Policies<h1>
    <p class="card-text">
      <h3>Member Conduct</h3>
      <ul>
        <li> All members must be passing all their classes to remain a part of TSA and to compete!</li>
      </ul>
      <h3>Membership Dues </h3>
      <ul>
        <li> Membership is not processed until all dues -national and state- are paid in full. </li>
        <li> All membership dues must be paid at the time of affiliation to the School Store at C100. Affiliations
          without dues will not be processed and the members will not be in good standing until all dues are paid.</li>
        <li> TSA membership dues are non-refundable and non-transferable.</li>
        <li> TSA operates under a unified dues policy, whereby all members must affiliate and pay applicable dues at the
          local, state, and national level. Individual dues at all levels (high school and middle school) consist of
          local chapter dues (determined by the chapter), state dues (determined by the state delegation), and national
          dues (determined by TSA, Inc.).</li>
        <li> Make sure to keep your reciept to show to officers and advisors in case a mistake or problem occurs.</li>
      </ul>

      <h3> What Is TSA?</h3> 
      TSA stands for Technology Student Association.
      <h3> What Pathways Are Best Suited For TSA?</h3> 
      Although all pathways can find something to compete in in TSA, pathways such as engineering, aerospace,
      inoformation technology, etc are all suited to join TSA.
      <h3> What Benefits Does TSA Offer?</h3> 
      TSA offers many benefits such as owning your career skills, making life long friends and connection, and even
      earning scholarship money.
    </p>
  </div>
</div>






{% endblock %}