{% extends 'layout.html' %}

{% block body %}

<div class="card" style="width: 110rem;">
    <div class="card-body" style="text-align: center">
      <h1 class="card-title"><b>POLICIES</b></h1>
      <p class="card-text">
         <h3>Member Conduct</h3>
         <br>
        <li> All members must be passing all their classes to remain a part of TSA and to compete!</li>
         <br>
        <h3>Membership Dues </h3>
          <li> Membership is not processed until all dues -national and state- are paid in full. </li>
          <li> All membership dues must be paid at the time of affiliation to the School Store at C100. Affiliations without dues will not be processed and the members will not be in good standing until all dues are paid.</li>
          <li> TSA membership dues are non-refundable and non-transferable.</li>
          <li> TSA operates under a unified dues policy, whereby all members must affiliate and pay applicable dues at the local, state, and national level. Individual dues at all levels (high school and middle school) consist of local chapter dues (determined by the chapter), state dues (determined by the state delegation), and national dues (determined by TSA, Inc.).</li>
          <li> Make sure to keep your reciept to show to officers and advisors in case a mistake or problem occurs.</li>
          <br>
      <h4><b> What Is TSA?</b></h4> <br>
       TSA stands for Technology Student Association. 
      <br> <h4><b> What Pathways Are Best Suited For TSA?</b></h4> <br>
      Although all pathways can find something to compete in in TSA, pathways such as engineering, aerospace, inoformation technology, etc are all suited to join TSA.
      <br> <h4><b> What Benefits Does TSA Offer?</b></h4> <br>
      TSA offers many benefits such as owning your career skills, making life long friends and connection, and even earning scholarship money.
      </p>
 <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>  <br>  <br> <br> <br>
    </div>
</div>






{% endblock %}