{% extends 'layout.html' %}


{% block style %}
<style>
  p{
    white-space: pre-line
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .title {
    color: grey;
  }
</style>
{% endblock %}
{% block body %}

<div class="center jumbotron" style="text-align: center">
  <h1>Teacher Directory</h1>
  <h3> Dubiski has many qualified and certified professionals to be teachers in all it's pathways. This page only
    features the pathways relating to TSA.</h3>
</div>


<div class="card-deck">
  {% for teacher in teachers %}
  {% set teacherImg = '/static/teachers/' + teacher.last_name + '.png' %}
  {% set teacherLink = '/teachers/' + teacher.last_name %}
  <div class="card">
    <div class="card-body">
      <img class="card-img-top teacher-img" src="{{teacherImg}}" alt="{{teacher.name}}">
      <h2>{{teacher.name}}</h2>
      <h5>{{teacher.academy}}</h5>
      <p> Conference: {{teacher.conference}} </p>
      <p> {{teacher.ext}} </p>
      <b>Degrees and Certifications:</b>
      <ul>
        {% for thing in teacher.achievements %}
        <li>{{thing}}</li>
        {% endfor %}
      </ul>
      <p> Email: {{teacher.email}} </p>
      <div class="card-footer">
        <p><a href="{{teacherLink}}" class="btn btn-block text-white btn-dark">Contact</a></p>
      </div>
    </div>
  </div>
  {% if loop.index % 3 == 0 %}
    </div>
    <div class="card-deck">
  {% endif %}
  {% endfor %}
</div>  
{% endblock %}
