{extends 'layout.html' %}

{block body %}

<div class="card" style="width: 110rem;">
    <div class="card-body">
      <h1 class="card-title" style="text-align: center"> <b> WHAT IS TSA?</b></h1>
     
      <br>
      <iframe src="https://player.vimeo.com/video/323721730" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p><a href="https://vimeo.com/323721730">Technology Student Association (TSA): Learning to Lead in a Technical World</a> from <a href="https://vimeo.com/user30910802">Technology Student Association</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
 <p class="card-text">The Technology Student Association (TSA) is a national organization of students engaged in science, technology, engineering, and mathematics (STEM). The Technology Student Association (TSA), formerly the American Industrial Arts Association (AIASA), is the oldest student membership organization dedicated exclusively to students enrolled in technology and engineering education classes in middle and high schools. Its rich history spans four decades. From 1958 to 1978, AIASA is a sponsored activity of the American Industrial Arts Association (AIAA). In 1978, the nonprofit corporation, AIASA, Inc., is formed to oversee AIASA as a separate organization. From 1978 to 1988, the organization grows in size, strength, structure, and impact on students and secondary school programs. In the summer of 1988, AIASA becomes the Technology Student Association. <br> <br>
  <b> Student Members</b> <br> 
  Open to students enrolled in or who have completed technology education courses, TSA’s membership includes more than 250,000 middle and high school students across the United States. TSA is supported by educators, parents, and business leaders who believe in the need for a technologically literate society. Members learn through exciting competitive events, leadership opportunities, and much more. A wide range of activities makes TSA a positive experience for every student. <hr> <br> 
 <b>  Mission Statement</b> <br>
The Technology Student Association (TSA) enhances personal development, leadership, and career opportunities in science, technology, engineering, and math (STEM), whereby members apply and integrate these concepts through intracurricular activities, competitions, and related programs. <br> <br>

<b> Vision Statement </b> <br>
TSA is accelerating student achievement and supporting teachers by providing engaging opportunities to develop STEM skills. <br> <br>

<b> Motto </b> <br>
Learning to lead in a technical world. <br> <br>

<b> Creed </b> <br>
I believe that Technology Education holds an important place in my life in the technical world. I believe there is a need for the development of good attitudes concerning work, tools, materials, experimentation, and processes of industry. Guided by my teachers, artisans from industry, and my own initiative, I will strive to do my best in making my school, community, state, and nation better places in which to live. <br>  

I will accept the responsibilities that are mine. I will accept the theories that are supported by proper evidence. I will explore on my own for safer, more effective methods of working and living. I will strive to develop a cooperative attitude and will exercise tact and respect for other individuals. Through the work of my hands and mind, I will express my ideas to the best of my ability. I will make it my goal to do better each day the task before me, and to be steadfast in my belief in my God, and my fellow Americans. <hr> <br>
Milestones

<b>1978 </b>	First Board of Directors of AIASA, Inc. is elected in February.
<b>1978 </b>	U.S. Office of Education recognizes AIASA as the official vocational student organization for industrial arts students.
<b>1978 </b>	AIASA, Inc. is created, beginning financial independence from AIAA.
<b>1978 </b>	Ronald W. Applegate is hired as first executive director under AIASA, Inc.
<b>1981 </b>	National Standards for Industrial Arts Programs includes 11 specific Standards related to student organization. Jenny Robichaux becomes AIASA’s first female president.
<b>1985 </b>	Revised Competitive Events Handbook with 5-Year Planning Matrix is published.
<b>1988 </b>	Students vote to change name of AIASA to Technology Student Association (TSA) (June 22). A name change trade mark application is placed on file with the United States Patent and Trademark Office. Its first president is Curtis Sheets of Virginia.
<b>1988 </b>	The national office relocates from 1908 Association Drive to 1914 Association Drive, in Reston, VA.
<b>1989 </b>	The official TSA logo is designed by TSA chapter advisor Steve Price of Georgia. The membership adopts the logo for use at the national, state, and local level.
<b>1990 </b>	The TSA logo receives a registered trademark by the United States Patent and Trademark Office.
<b>1991 </b>	A membership recruitment program, "Shoot for the Stars," is created. In the mid '90s, it evolves into the Star Recognition Program (White, Red and Blue Star Chapters).
<b>1992 </b>	The TSA elementary program, TechnoKids, is created. Later, it is renamed The Great Technology Adventure.
<b>1992 </b>	Tonya Vandergriff becomes TSA's first female president.
<b>1993 </b>	TSA Technology Honor Society is established.
<b>1994</b>		For the first time, National TSA has more than 100,000 members. The first ever National TSA Day is held on April 24th.
<b>1995 </b>		In a partnership between TSA and the National Association of Secondary School Principals, the American Technology Honor Society is formed.
<b>1996 </b>		TSA's competitive events program is divided between the middle school and high school levels with each having its own competition guidelines.
<b>1997 </b>		The TSA National Conference is held in Washington, D.C.; the first National TSA Conference with more than 3,500 participants.
<b>1998</b>		TSA's annual leadership conference is held in two locations: Denver, CO, and Baltimore, MD.
<b>1999 </b>		Under the direction of national TSA President James Coleman, Jr., the TSA Constitution and Bylaws are revised and combined. The TSA membership approves a new comprehensive governing document and raises the membership dues to $7.
<b>2000</b>		The American Technology Honor Society becomes the National Technology Achievement Award.
<b>2001</b>		TSA officially becomes the Technology Student Association and received trademark status from the United States Patent and Trademark Office.
<b>2002</b>		TSA launches its newly redesigned website, TSAweb.org.
<b>2003</b>		TSA celebrates its 25th anniversary. The 25th Anniversary Fund is created to provide membership scholarships to underserved communities. National TSA Day is extended to National TSA Week.
<b>2004</b>	TSA conducts a first ever Relay Rally at its national conference for the American Cancer Society.
<b>2005</b>	TSA launches the DuPont Leadership Academy at its national conference. The TSA website is redesigned with two online stores, one for TSA apparel and one for TSA publications and products. TSA's quarterly newsletter begins appearing on the website.
<b>2006</b>	TSA is awarded a grant from the National Science Foundation to host a two-day symposium for STEM (science, technology, engineering and mathematics) stakeholders and robotics education experts to develop a robotics assessment rubric that can be incorporated into competitive event activities and instruction in the classroom.
<b>2007</b>	TSA offers its members online affiliation as well as online national conference registration.
<b>2008</b>		TSA expands the DuPont Leadership Academy at the 30th annual National TSA Conference in Orlando, FL to include sessions for graduating seniors; chapter and state officers; and advisors.
<b>2009</b>		Developed through a partnership between national TSA, Project Lead the Way (PLTW), and SkillsUSA, the Engineering Alliance offers classroom level competitions and leadership development activities designed specifically for PLTW-affiliated middle and high school pre-engineering instructional programs.
<b>2010</b>	The TSA VEX Robotics Competition partnership provides students with a hands-on, co-curricular competition for STEM and complements the existing technology-related competitions offered by TSA. TSA VEX Robotics tournaments are conducted in conjunction with TSA’s state conferences, followed by a championship event at the National TSA Conference.
<b>2011</b>	TSA acquires the TEAMS and Unite programs from the Junior Engineering Technical Society (JETS).
<b>2012</b>	TSA partners with the Verizon Foundation to offer the Verizon Innovative Learning app challenge.
<b>2013</b>	TSA celebrates its 35th anniversary.
<b>2013</b>	TSA hosts the Best in Nation TEAMS competition at the National TSA Conference.
<b>2014</b>		National TSA has more than 200,000 members for the school year and the National TSA Conference attendance climbs to nearly 7,000.
<b>2014</b> 	TSA holds the first national Junior Solar Sprint (JSS) competition.
<b>2014</b>	All national TSA contest competitors are required to wear the official TSA (blue) shirt.
<b>2015</b> 	National TSA President, Steven Stokes, represents TSA at the White House in Washington, D.C.
<b>2016</b>	TSA's leadership program, LEAP, is announced.
<b>2017</b>	The national office relocates from 1914 Association Drive to 1904 Association Drive, Reston, VA.
<b>2018</b>	 TSA celebrates its 40th anniversary.
</p>


{% endblock %}