{% extends 'layout.html' %}

{% block body %}
<!-- Center video, if not already. add more media/make cooler-->
<div class="card" style="width: 110rem;">
  <div class="card-body" style="text-align: center">
    <h1 class="card-title"> <b> WHAT IS TSA?</b></h1>

    <br>
    <iframe src="https://player.vimeo.com/video/323721730" width="640" height="360" frameborder="0"
      allow="autoplay; fullscreen" allowfullscreen></iframe>
    <p><a href="https://vimeo.com/323721730">Technology Student Association (TSA): Learning to Lead in a Technical
        World</a> from <a href="https://vimeo.com/user30910802">Technology Student Association</a> on <a
        href="https://vimeo.com">Vimeo</a>.</p>
    <p class="card-text">The Technology Student Association (TSA) is a national organization of students engaged in
      science, technology, engineering, and mathematics (STEM). The Technology Student Association (TSA), formerly the
      American Industrial Arts Association (AIASA), is the oldest student membership organization dedicated exclusively
      to students enrolled in technology and engineering education classes in middle and high schools. Its rich history
      spans four decades. From 1958 to 1978, AIASA is a sponsored activity of the American Industrial Arts Association
      (AIAA). In 1978, the nonprofit corporation, AIASA, Inc., is formed to oversee AIASA as a separate organization.
      From 1978 to 1988, the organization grows in size, strength, structure, and impact on students and secondary
      school programs. In the summer of 1988, AIASA becomes the Technology Student Association. <br> <br>
      <b> Student Members</b> <br>
      Open to students enrolled in or who have completed technology education courses, TSA’s membership includes more
      than 250,000 middle and high school students across the United States. TSA is supported by educators, parents, and
      business leaders who believe in the need for a technologically literate society. Members learn through exciting
      competitive events, leadership opportunities, and much more. A wide range of activities makes TSA a positive
      experience for every student.
      <hr> <br>
      <b> Mission Statement</b> <br>
      The Technology Student Association (TSA) enhances personal development, leadership, and career opportunities in
      science, technology, engineering, and math (STEM), whereby members apply and integrate these concepts through
      intracurricular activities, competitions, and related programs. <br> <br>

      <b> Vision Statement </b> <br>
      TSA is accelerating student achievement and supporting teachers by providing engaging opportunities to develop
      STEM skills. <br> <br>

      <b> Motto </b> <br>
      Learning to lead in a technical world. <br> <br>

      <b> Creed </b> <br>
      I believe that Technology Education holds an important place in my life in the technical world. I believe there is
      a need for the development of good attitudes concerning work, tools, materials, experimentation, and processes of
      industry. Guided by my teachers, artisans from industry, and my own initiative, I will strive to do my best in
      making my school, community, state, and nation better places in which to live. <br>

      I will accept the responsibilities that are mine. I will accept the theories that are supported by proper
      evidence. I will explore on my own for safer, more effective methods of working and living. I will strive to
      develop a cooperative attitude and will exercise tact and respect for other individuals. Through the work of my
      hands and mind, I will express my ideas to the best of my ability. I will make it my goal to do better each day
      the task before me, and to be steadfast in my belief in my God, and my fellow Americans.
    </p>
  </div>
</div>

{% endblock %}